:root {
    --background-dark: #111115;
    --background-body: #1e1e24;
    --background-display: #2c2c34;
    --color-display-number: #ff9f0a;
    --color-button-number: #3a3a42;
    --color-button-operator: #ff9f0a;
    --color-button-action:	#2e2e35;
    --color-button-number-text: #e8e8ec;
    --color-button-action-text: #c8c8d0;
    --color-display-number-preview: #c8c8d0;
}
body {
    /* background-color: #111115; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
}
.calculator {
    /* background-color: #1e1e24; */
    background-color: var(--background-body);
    width: 500px;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    box-sizing: border-box;
    border-radius: 40px;
    padding: 20px 0px 20px 0px;
}
.calculator-display {
    background-color: var(--background-display);
    width: 80%;
    height: 15%;
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding: 15px 10px 5px 10px;
    margin-right: 0px;
    margin-left: 0px;
}
.calculator-board {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 75%;
    box-sizing: border-box;
    gap: 10px;
    margin-right: 0px;
    margin-left: 0px;
}
.output {
    font-size: 30px;
    margin: 0px;
    color: var(--color-display-number);
}
.reOutput {
    font-size: 17px;
    margin: 0px;
    color: var(--color-display-number-preview);
}
.calculator-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    gap: 10px;
}
button {
    border-radius: 30px;
    border: 1px solid black;
    height: 85px;
    flex: 1;
    font-size: 1.5rem;
}
#btn-zero {
    min-width: 49%;
}
.btn-operator {
    background-color: var(--color-button-operator);
}
.btn-other {
    background-color: var(--color-button-action);
    color: var(--color-button-number-text);
}
.btn-number {
    background-color: var(--color-button-number);
    color: white;
}
